In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#import pandas_profiling as pp
import pandas_profiling as pp
from pandas_profiling import ProfileReport
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold,StratifiedKFold
from sklearn.metrics import mean_squared_error
from catboost import CatBoostRegressor
from catboost import Pool

C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
C:\Users\Admin\AppData\Local\Temp\ipykernel_7792\1674564637.py:6: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  import pandas_profiling as pp

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
fulfilment_center = pd.read_csv('fulfilment_center_info.csv')
meal_info = pd.read_csv('meal_info.csv')

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456548 entries, 0 to 456547
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     456548 non-null  int64
 1   week                   456548 non-null  int64
 2   center_id              456548 non-null  int64
 3   meal_id                456548 non-null  int64
 4   checkout_price         456548 non-null  float64
 5   base_price             456548 non-null  float64
 6   emailer_for_promotion  456548 non-null  int64
 7   homepage_featured      456548 non-null  int64
 8   num_orders             456548 non-null  int64
dtypes: float64(2), int64(7)
memory usage: 31.3 MB

In [4]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32573 entries, 0 to 32572
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     32573 non-null  int64
 1   week                   32573 non-null  int64
 2   center_id              32573 non-null  int64
 3   meal_id                32573 non-null  int64
 4   checkout_price         32573 non-null  float64
 5   base_price             32573 non-null  float64
 6   emailer_for_promotion  32573 non-null  int64
 7   homepage_featured      32573 non-null  int64
dtypes: float64(2), int64(6)
memory usage: 2.0 MB

In [5]:
test.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured
0,1028232,146,55,1885,158.11,159.11,0,0
1,1127204,146,55,1993,160.11,159.11,0,0
2,1212707,146,55,2539,157.14,159.14,0,0
3,1082698,146,55,2631,162.02,162.02,0,0
4,1400926,146,55,1248,163.93,163.93,0,0

In [6]:
fulfilment_center.head()

   center_id  city_code  region_code center_type  op_area
0         11        679           56      TYPE_A      3.7
1         13        590           56      TYPE_B      6.7
2        124        590           56      TYPE_C      4.0
3         66        648           34      TYPE_A      4.1
4         94        632           34      TYPE_C      3.6

In [7]:
meal_info.head()

   meal_id   category cuisine
0     1885  Beverages    Thai
1     1993  Beverages    Thai
2     2539  Beverages    Thai
3     1248  Beverages  Indian
4     2631  Beverages  Indian

In [8]:
meal_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   meal_id   51 non-null     int64
 1   category  51 non-null     object
 2   cuisine   51 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.3+ KB

In [9]:
train = pd.merge(train,fulfilment_center, on='center_id')
test = pd.merge(test,fulfilment_center, on='center_id')

train = pd.merge(train,meal_info, on='meal_id')
test = pd.merge(test,meal_info, on='meal_id')

In [10]:
train.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,center_type,op_area,category,cuisine
0,1379560,1,55,1885,136.83,152.29,0,0,177,647,56,TYPE_C,2.0,Beverages,Thai
1,1018704,2,55,1885,135.83,152.29,0,0,323,647,56,TYPE_C,2.0,Beverages,Thai
2,1196273,3,55,1885,132.92,133.92,0,0,96,647,56,TYPE_C,2.0,Beverages,Thai
3,1116527,4,55,1885,135.86,134.86,0,0,163,647,56,TYPE_C,2.0,Beverages,Thai
4,1343872,5,55,1885,146.50,147.50,0,0,215,647,56,TYPE_C,2.0,Beverages,Thai

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456548 entries, 0 to 456547
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     456548 non-null  int64
 1   week                   456548 non-null  int64
 2   center_id              456548 non-null  int64
 3   meal_id                456548 non-null  int64
 4   checkout_price         456548 non-null  float64
 5   base_price             456548 non-null  float64
 6   emailer_for_promotion  456548 non-null  int64
 7   homepage_featured      456548 non-null  int64
 8   num_orders             456548 non-null  int64
 9   city_code              456548 non-null  int64
 10  region_code            456548 non-null  int64
 11  center_type            456548 non-null  object
 12  op_area                456548 non-null  float64
 13  category               456548 non-null  object
 14  cuisine                456548 non-null  object
dtypes: float64(3), int64(9), object(3)
memory usage: 52.2+ MB

In [12]:
import pandas_profiling as pp
from pandas_profiling import ProfileReport
# Assuming 'train' is your DataFrame
profile = ProfileReport(train)

# Display the profile report directly in VSCode
profile.to_file("train_profile_report.html")

Summarize dataset: 100%|██████████| 124/124 [01:15<00:00,  1.64it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:08<00:00,  8.71s/it]
Render HTML: 100%|██████████| 1/1 [00:05<00:00,  5.25s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 23.45it/s]

In [13]:
sns.set(style="whitegrid")  # Optional: Set a specific style for the plot

# Create the line plot
sns.lineplot(x='week', y='num_orders', data=train)

# Add the linear regression line
sns.regplot(x='week', y='num_orders', data=train, scatter=False, color='red')

plt.show()

C:\Users\Admin\AppData\Local\Temp\ipykernel_7792\2292957768.py:9: UserWarning: Matplotlib is currently using module://matplotlib_inline.backend_inline, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [14]:
# sns.set(style="whitegrid")  
# aggregated_data = train.groupby(['center_id', 'category'])['num_orders'].mean().reset_index()

# sns.scatterplot(x='center_id', y='num_orders', hue='category', data=aggregated_data, marker='o', s=100)
# plt.xticks(rotation=90)
# plt.show()

In [15]:
sns.set(style="whitegrid")  # Optional: Set a specific style for the plot

# Calculate the mean 'num_orders' for each combination of 'center_id' and 'category'
aggregated_data = train.groupby(['center_id', 'category'])['num_orders'].mean().reset_index()

# Set a custom color palette with 14 colors
colors = sns.color_palette("Set1", n_colors=14)
plt.figure(figsize=(16, 6))  # Adjust the width and height as needed

# Create the scatter plot with the custom color palette
sns.scatterplot(x='center_id', y='num_orders', hue='category', data=aggregated_data, palette=colors, marker='o', s=100)

plt.xticks(rotation=90)  # Rotate x-axis labels for better visibility

plt.show()

C:\Users\Admin\AppData\Local\Temp\ipykernel_7792\669575131.py:15: UserWarning: Matplotlib is currently using module://matplotlib_inline.backend_inline, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [16]:
# sns.set(style="whitegrid")  
# aggregated_data = train.groupby(['center_id', 'category'])['num_orders'].mean().reset_index()

# sns.scatterplot(x='center_id', y='num_orders', hue='category', data=aggregated_data, marker='o', s=100)
# plt.xticks(rotation=90)
# plt.show()

In [17]:
train.describe()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,op_area
count,4.565480e+05,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000,456548.00000,456548.000000,456548.000000,456548.000000,456548.000000
mean,1.250096e+06,74.768771,82.105796,2024.337458,332.238933,354.156627,0.081152,0.10920,261.872760,601.553399,56.614566,4.083590
std,1.443548e+05,41.524956,45.975046,547.420920,152.939723,160.715914,0.273069,0.31189,395.922798,66.195914,17.641306,1.091686
min,1.000000e+06,1.000000,10.000000,1062.000000,2.970000,55.350000,0.000000,0.00000,13.000000,456.000000,23.000000,0.900000
25%,1.124999e+06,39.000000,43.000000,1558.000000,228.950000,243.500000,0.000000,0.00000,54.000000,553.000000,34.000000,3.600000
50%,1.250184e+06,76.000000,76.000000,1993.000000,296.820000,310.460000,0.000000,0.00000,136.000000,596.000000,56.000000,4.000000
75%,1.375140e+06,111.000000,110.000000,2539.000000,445.230000,458.870000,0.000000,0.00000,324.000000,651.000000,77.000000,4.500000
max,1.499999e+06,145.000000,186.000000,2956.000000,866.270000,866.270000,1.000000,1.00000,24299.000000,713.000000,93.000000,7.000000

In [18]:

sns.set(style="whitegrid")  # Optional: Set a specific style for the plot
colors = sns.color_palette("Set1", n_colors=14)

# Group by 'region' and 'category', then calculate the sum of 'num_orders'
aggregated_data = train.groupby(['region_code', 'category'])['num_orders'].sum().reset_index()
plt.figure(figsize=(16, 6))  # Adjust the width and height as needed

# Create the bar plot
sns.barplot(x='category', y='num_orders', hue='region_code', palette=colors, data=aggregated_data)

# Rotate x-axis labels for better visibility
plt.xticks(rotation=90)

plt.show()

C:\Users\Admin\AppData\Local\Temp\ipykernel_7792\3641744637.py:14: UserWarning: Matplotlib is currently using module://matplotlib_inline.backend_inline, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [19]:
import seaborn as sns
import matplotlib.pyplot as plt

# Assuming you have imported necessary libraries and loaded your data
plt.figure(figsize=(16, 6))  # Adjust the width and height as needed

sns.set(style="whitegrid")  # Optional: Set a specific style for the plot
bar_color = '#43521a'

# Create the bar plot
sns.barplot(x='category', y='num_orders', data=train,color=bar_color,ci=None)

# Rotate x-axis labels for better visibility
plt.xticks(rotation=90)

plt.show()

C:\Users\Admin\AppData\Local\Temp\ipykernel_7792\4066685872.py:11: FutureWarning:

The `ci` parameter is deprecated. Use `errorbar=None` for the same effect.

  sns.barplot(x='category', y='num_orders', data=train,color=bar_color,ci=None)
C:\Users\Admin\AppData\Local\Temp\ipykernel_7792\4066685872.py:16: UserWarning: Matplotlib is currently using module://matplotlib_inline.backend_inline, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [20]:
# Load the dataset
train_data = pd.read_csv('train.csv')
fulfillment_center_data = pd.read_csv('fulfilment_center_info.csv')
meal_info_data = pd.read_csv('meal_info.csv')

# Merge data
merged_data = pd.merge(train_data, fulfillment_center_data, on='center_id')
merged_data = pd.merge(merged_data, meal_info_data, on='meal_id')

# Define numerical columns for outlier detection
numerical_columns = ['checkout_price', 'base_price', 'op_area', 'num_orders']

# Create box plots to visualize outliers
plt.figure(figsize=(10, 6))
sns.boxplot(data=merged_data[numerical_columns])
plt.title('Box Plots for Outliers')
plt.xticks(rotation=45)
plt.show()

# Calculate and display z-scores to identify outliers
z_scores = (merged_data[numerical_columns] - merged_data[numerical_columns].mean()) / merged_data[numerical_columns].std()
outliers = (z_scores > 3) | (z_scores < -3)
print("Outliers:")
print(outliers)

Outliers:
        checkout_price  base_price  op_area  num_orders
0                False       False    False       False
1                False       False    False       False
2                False       False    False       False
3                False       False    False       False
4                False       False    False       False
...                ...         ...      ...         ...
456543           False       False    False       False
456544           False       False    False       False
456545           False       False    False       False
456546           False       False    False       False
456547           False       False    False       False

[456548 rows x 4 columns]

C:\Users\Admin\AppData\Local\Temp\ipykernel_7792\3378203689.py:18: UserWarning: Matplotlib is currently using module://matplotlib_inline.backend_inline, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [34]:
plt.figure(figsize=(10, 5))

# Create the box plot
sns.boxplot(x=train['num_orders'])

plt.show()

In [22]:
outlier_index = train[(train['num_orders']>15000)].index
train.drop(outlier_index,inplace = True)

#Feature Engineering

In [23]:
train['train_or_test'] = 'train'
test['train_or_test'] = 'test'

In [24]:
train['num_orders'] = np.log1p(train['num_orders'])

In [26]:
total_data = pd.concat([train, test], ignore_index=True)[train.columns]

In [31]:
total_data = total_data.sort_values(['center_id', 'meal_id', 'week']).reset_index(drop=True)
total_data['checkout_price'] = np.log1p(total_data['checkout_price'])
total_data['base_price'] = np.log1p(total_data['base_price'])
total_data['discount_on_base'] = (total_data['base_price'] - total_data['checkout_price']) / total_data['base_price']
total_data["discount_ratio"] = total_data["base_price"] / total_data["checkout_price"]
total_data['price_last_curr_diff'] = (total_data['checkout_price'].shift(1) - total_data['checkout_price']).fillna(1)/ total_data['checkout_price'].shift(1).fillna(1)
for _, r in total_data.groupby(['center_id', 'meal_id'])['week'].first().reset_index().iterrows():
    total_data.loc[(total_data['center_id']==r['center_id']) & (total_data['meal_id']==r['meal_id']) & (total_data['week']==r['week']), 'price_last_curr_diff'] = total_data[(total_data['center_id']==r['center_id']) & (total_data['meal_id']==r['meal_id']) & (total_data['week']!=r['week'])]['price_last_curr_diff'].mean()
total_data['price_last_curr_diff'] = total_data['price_last_curr_diff'].fillna(0)

In [35]:
# Features constructed from previous sales values

#Creating sales lag features
def create_sales_lag_feats(df, gpby_cols, target_col, lags):
    gpby = df.groupby(gpby_cols)
    for i in lags:
        df['_'.join([target_col, 'lag', str(i)])] = \
                gpby[target_col].shift(i).values + np.random.normal(scale=1.6, size=(len(df),))
    return df

# Creating sales exponentially weighted mean features
def create_sales_ewm_feats(df, gpby_cols, target_col, alpha=[0.9], shift=[1]):
    gpby = df.groupby(gpby_cols)
    for a in alpha:
        for s in shift:
            df['_'.join([target_col, 'lag', str(s), 'ewm', str(a)])] = \
                gpby[target_col].shift(s).ewm(alpha=a).mean().values
    return df

In [36]:
# Creating num_orders lag, rolling mean, rolling median, ohe features of the above train set
total_data = create_sales_lag_feats(total_data, gpby_cols=['center_id','meal_id'], target_col='num_orders', 
                               lags=[10,11, 12])

total_data = create_sales_ewm_feats(total_data, gpby_cols=['center_id','meal_id'], 
                               target_col='num_orders', 
                               alpha=[0.5], 
                               shift=[10,11,12,13,14,15])

In [37]:
total_data.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,...,price_last_curr_diff,num_orders_lag_10,num_orders_lag_11,num_orders_lag_12,num_orders_lag_10_ewm_0.5,num_orders_lag_11_ewm_0.5,num_orders_lag_12_ewm_0.5,num_orders_lag_13_ewm_0.5,num_orders_lag_14_ewm_0.5,num_orders_lag_15_ewm_0.5
0,1436842,1,10,1062,0.537845,0.537845,0,0,6.763885,590,...,0.000021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1205013,2,10,1062,0.538020,0.537931,0,0,6.663133,590,...,-0.000326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1447751,3,10,1062,0.538108,0.537931,0,0,6.747587,590,...,-0.000164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1014968,4,10,1062,0.537931,0.538020,0,0,7.092574,590,...,0.000328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1003563,5,10,1062,0.538022,0.537845,0,0,6.865891,590,...,-0.000170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
### Center count features ###
gdf = total_data.groupby(["center_id", "week"])["id"].agg(['size']).reset_index()
gdf.columns = ["center_id", "week", "center_week_count"]
total_data = pd.merge(total_data,gdf, on=["center_id", "week"], how="left")

gdf = total_data.groupby(["center_id", "category"])["id"].count().reset_index()
gdf.columns = ["center_id", "category", "center_cat_count"]
total_data = pd.merge(total_data,gdf, on=["center_id", "category"], how="left")

gdf = total_data.groupby(["center_id", "category", "week"])["id"].count().reset_index()
gdf.columns = ["center_id", "category", "week", "center_cat_week_count"]
total_data = pd.merge(total_data,gdf, on=["center_id", "category", "week"], how="left")

gdf = total_data.groupby(["center_id", "cuisine"])["id"].count().reset_index()
gdf.columns = ["center_id", "cuisine", "center_cui_count"]
total_data = pd.merge(total_data,gdf, on=["center_id", "cuisine"], how="left")

In [39]:
### Meal count features ###
gdf = total_data.groupby(["meal_id"])["id"].count().reset_index()
gdf.columns = ["meal_id", "meal_count"]
total_data = pd.merge(total_data,gdf, on=["meal_id"], how="left")

gdf = total_data.groupby(["region_code", "meal_id"])["id"].count().reset_index()
gdf.columns = ["region_code", "meal_id", "region_meal_count"]
total_data= pd.merge(total_data,gdf, on=["region_code", "meal_id"], how="left")

gdf = total_data.groupby(["meal_id", "week"])["id"].count().reset_index()
gdf.columns = ["meal_id", "week", "meal_week_count"]
total_data = pd.merge(total_data,gdf, on=["meal_id", "week"], how="left")

gdf =total_data.groupby(["center_type", "meal_id", "week"])["id"].count().reset_index()
gdf.columns = ["center_type", "meal_id", "week", "type_meal_week_count"]
total_data = pd.merge(total_data,gdf, on=["center_type", "meal_id", "week"], how="left")

gdf = total_data.groupby(["region_code", "meal_id", "week"])["id"].count().reset_index()
gdf.columns = ["region_code", "meal_id", "week", "region_meal_week_count"]
total_data = pd.merge(total_data,gdf, on=["region_code", "meal_id", "week"], how="left")

gdf =total_data.groupby(["city_code", "meal_id", "week"])["id"].count().reset_index()
gdf.columns = ["city_code", "meal_id", "week", "city_meal_week_count"]
total_data = pd.merge(total_data,gdf, on=["city_code", "meal_id", "week"], how="left")

In [40]:
### Price rank ###
total_data["meal_price_rank"] = total_data.groupby("meal_id")["checkout_price"].rank()
total_data["meal_city_price_rank"] =total_data.groupby(["meal_id", "city_code"])["checkout_price"].rank()
total_data["meal_region_price_rank"] = total_data.groupby(["meal_id", "region_code"])["checkout_price"].rank()
total_data["meal_week_price_rank"] = total_data.groupby(["meal_id", "week"])["checkout_price"].rank()

total_data["center_price_rank"] = total_data.groupby("center_id")["checkout_price"].rank()
total_data["center_week_price_rank"] = total_data.groupby(["center_id", "week"])["checkout_price"].rank()
total_data["center_cat_price_rank"] = total_data.groupby(["center_id", "category"])["checkout_price"].rank()

In [41]:
### Week features ###
gdf = total_data.groupby(["meal_id"])["checkout_price"].agg(["min", "max", "mean", "std"]).reset_index()
gdf.columns = ["meal_id", "meal_price_min", "meal_price_max", "meal_price_mean", "meal_price_std"]
total_data = pd.merge(total_data,gdf, on=["meal_id"], how="left")

gdf = total_data.groupby(["meal_id"])["base_price"].agg(["min", "max", "mean", "std"]).reset_index()
gdf.columns = ["meal_id", "disc_price_min", "disc_price_max", "disc_price_mean", "disc_price_std"]
total_data = pd.merge(total_data,gdf, on=["meal_id"], how="left")

gdf = total_data.groupby(["city_code","meal_id", "week"])["checkout_price"].agg(["min", "max", "mean", "std"]).reset_index()
gdf.columns = ["city_code", "meal_id", "week", "meal_price2_min", "meal_price2_max", "meal_price2_mean", "meal_price2_std"]
total_data= pd.merge(total_data,gdf, on=["city_code", "meal_id", "week"], how="left")

gdf = total_data.groupby(["city_code", "category"])["checkout_price"].agg(["mean", "std"]).reset_index()
gdf.columns = ["city_code", "category", "meal_price3_mean", "meal_price3_std"]
total_datal = pd.merge(total_data,gdf, on=["city_code", "category"], how="left")

In [43]:
total_data['center_id'] = total_data['center_id'].astype(object)
total_data['meal_id'] = total_data['meal_id'].astype(object)
total_data['region_code'] = total_data['region_code'].astype(object)
total_data['city_code'] = total_data['city_code'].astype(object)

In [44]:
train_data = total_data.loc[total_data['train_or_test']=='train', :]
test_data = total_data.loc[total_data['train_or_test']=='test', :]

In [45]:
center_meal_mean = train_data.groupby(['center_id','meal_id'])['num_orders'].mean()
center_meal_mean = center_meal_mean.reset_index()
center_meal_mean = center_meal_mean.rename(columns={'num_orders':'avg_orders'})
train_data = pd.merge(train_data,center_meal_mean, how='left', left_on=['center_id','meal_id'], right_on = ['center_id','meal_id'])
test_data = pd.merge(test_data,center_meal_mean, how='left', left_on=['center_id','meal_id'], right_on = ['center_id','meal_id'])
center_mean = train_data.groupby('center_id')['num_orders'].mean()
center_mean = center_mean.reset_index()
center_mean = center_mean.rename(columns={'num_orders':'avg_center'})
train_data = pd.merge(train_data,center_mean, how='left', left_on=['center_id'], right_on = ['center_id'])
test_data = pd.merge(test_data,center_mean, how='left', left_on=['center_id'], right_on = ['center_id'])
meal_mean = train_data.groupby('meal_id')['num_orders'].mean()
meal_mean = meal_mean.reset_index()
meal_mean = meal_mean.rename(columns={'num_orders':'avg_meal'})
train_data = pd.merge(train_data, meal_mean,how='left',left_on=['meal_id'], right_on = ['meal_id'])
test_data = pd.merge(test_data, meal_mean,how='left',left_on=['meal_id'], right_on = ['meal_id'])

In [46]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456546 entries, 0 to 456545
Data columns (total 60 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         456546 non-null  int64
 1   week                       456546 non-null  int64
 2   center_id                  456546 non-null  object
 3   meal_id                    456546 non-null  object
 4   checkout_price             456546 non-null  float64
 5   base_price                 456546 non-null  float64
 6   emailer_for_promotion      456546 non-null  int64
 7   homepage_featured          456546 non-null  int64
 8   num_orders                 456546 non-null  float64
 9   city_code                  456546 non-null  object
 10  region_code                456546 non-null  object
 11  center_type                456546 non-null  object
 12  op_area                    456546 non-null  float64
 13  category                   456546 non-null  object
 14  cuisine                    456546 non-null  object
 15  train_or_test              456546 non-null  object
 16  discount_on_base           456546 non-null  float64
 17  discount_ratio             456546 non-null  float64
 18  price_last_curr_diff       456546 non-null  float64
 19  num_orders_lag_10          420703 non-null  float64
 20  num_orders_lag_11          417134 non-null  float64
 21  num_orders_lag_12          413566 non-null  float64
 22  num_orders_lag_10_ewm_0.5  456536 non-null  float64
 23  num_orders_lag_11_ewm_0.5  456535 non-null  float64
 24  num_orders_lag_12_ewm_0.5  456534 non-null  float64
 25  num_orders_lag_13_ewm_0.5  456533 non-null  float64
 26  num_orders_lag_14_ewm_0.5  456532 non-null  float64
 27  num_orders_lag_15_ewm_0.5  456531 non-null  float64
 28  center_week_count          456546 non-null  int64
 29  center_cat_count           456546 non-null  int64
 30  center_cat_week_count      456546 non-null  int64
 31  center_cui_count           456546 non-null  int64
 32  meal_count                 456546 non-null  int64
 33  region_meal_count          456546 non-null  int64
 34  meal_week_count            456546 non-null  int64
 35  type_meal_week_count       456546 non-null  int64
 36  region_meal_week_count     456546 non-null  int64
 37  city_meal_week_count       456546 non-null  int64
 38  meal_price_rank            456546 non-null  float64
 39  meal_city_price_rank       456546 non-null  float64
 40  meal_region_price_rank     456546 non-null  float64
 41  meal_week_price_rank       456546 non-null  float64
 42  center_price_rank          456546 non-null  float64
 43  center_week_price_rank     456546 non-null  float64
 44  center_cat_price_rank      456546 non-null  float64
 45  meal_price_min             456546 non-null  float64
 46  meal_price_max             456546 non-null  float64
 47  meal_price_mean            456546 non-null  float64
 48  meal_price_std             456546 non-null  float64
 49  disc_price_min             456546 non-null  float64
 50  disc_price_max             456546 non-null  float64
 51  disc_price_mean            456546 non-null  float64
 52  disc_price_std             456546 non-null  float64
 53  meal_price2_min            456546 non-null  float64
 54  meal_price2_max            456546 non-null  float64
 55  meal_price2_mean           456546 non-null  float64
 56  meal_price2_std            216267 non-null  float64
 57  avg_orders                 456546 non-null  float64
 58  avg_center                 456546 non-null  float64
 59  avg_meal                   456546 non-null  float64
dtypes: float64(38), int64(14), object(8)
memory usage: 209.0+ MB

In [47]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32573 entries, 0 to 32572
Data columns (total 60 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         32573 non-null  int64
 1   week                       32573 non-null  int64
 2   center_id                  32573 non-null  object
 3   meal_id                    32573 non-null  object
 4   checkout_price             32573 non-null  float64
 5   base_price                 32573 non-null  float64
 6   emailer_for_promotion      32573 non-null  int64
 7   homepage_featured          32573 non-null  int64
 8   num_orders                 0 non-null      float64
 9   city_code                  32573 non-null  object
 10  region_code                32573 non-null  object
 11  center_type                32573 non-null  object
 12  op_area                    32573 non-null  float64
 13  category                   32573 non-null  object
 14  cuisine                    32573 non-null  object
 15  train_or_test              32573 non-null  object
 16  discount_on_base           32573 non-null  float64
 17  discount_ratio             32573 non-null  float64
 18  price_last_curr_diff       32573 non-null  float64
 19  num_orders_lag_10          32539 non-null  float64
 20  num_orders_lag_11          32536 non-null  float64
 21  num_orders_lag_12          32533 non-null  float64
 22  num_orders_lag_10_ewm_0.5  32573 non-null  float64
 23  num_orders_lag_11_ewm_0.5  32573 non-null  float64
 24  num_orders_lag_12_ewm_0.5  32573 non-null  float64
 25  num_orders_lag_13_ewm_0.5  32573 non-null  float64
 26  num_orders_lag_14_ewm_0.5  32573 non-null  float64
 27  num_orders_lag_15_ewm_0.5  32573 non-null  float64
 28  center_week_count          32573 non-null  int64
 29  center_cat_count           32573 non-null  int64
 30  center_cat_week_count      32573 non-null  int64
 31  center_cui_count           32573 non-null  int64
 32  meal_count                 32573 non-null  int64
 33  region_meal_count          32573 non-null  int64
 34  meal_week_count            32573 non-null  int64
 35  type_meal_week_count       32573 non-null  int64
 36  region_meal_week_count     32573 non-null  int64
 37  city_meal_week_count       32573 non-null  int64
 38  meal_price_rank            32573 non-null  float64
 39  meal_city_price_rank       32573 non-null  float64
 40  meal_region_price_rank     32573 non-null  float64
 41  meal_week_price_rank       32573 non-null  float64
 42  center_price_rank          32573 non-null  float64
 43  center_week_price_rank     32573 non-null  float64
 44  center_cat_price_rank      32573 non-null  float64
 45  meal_price_min             32573 non-null  float64
 46  meal_price_max             32573 non-null  float64
 47  meal_price_mean            32573 non-null  float64
 48  meal_price_std             32573 non-null  float64
 49  disc_price_min             32573 non-null  float64
 50  disc_price_max             32573 non-null  float64
 51  disc_price_mean            32573 non-null  float64
 52  disc_price_std             32573 non-null  float64
 53  meal_price2_min            32573 non-null  float64
 54  meal_price2_max            32573 non-null  float64
 55  meal_price2_mean           32573 non-null  float64
 56  meal_price2_std            15528 non-null  float64
 57  avg_orders                 32560 non-null  float64
 58  avg_center                 32573 non-null  float64
 59  avg_meal                   32573 non-null  float64
dtypes: float64(38), int64(14), object(8)
memory usage: 14.9+ MB

In [ ]:
#Catboost Model

In [48]:
avoid_column = ['id', 'num_orders', 'train_or_test']

In [49]:
features = [col for col in test_data.columns if col not in avoid_column]

In [50]:
features

['week',
 'center_id',
 'meal_id',
 'checkout_price',
 'base_price',
 'emailer_for_promotion',
 'homepage_featured',
 'city_code',
 'region_code',
 'center_type',
 'op_area',
 'category',
 'cuisine',
 'discount_on_base',
 'discount_ratio',
 'price_last_curr_diff',
 'num_orders_lag_10',
 'num_orders_lag_11',
 'num_orders_lag_12',
 'num_orders_lag_10_ewm_0.5',
 'num_orders_lag_11_ewm_0.5',
 'num_orders_lag_12_ewm_0.5',
 'num_orders_lag_13_ewm_0.5',
 'num_orders_lag_14_ewm_0.5',
 'num_orders_lag_15_ewm_0.5',
 'center_week_count',
 'center_cat_count',
 'center_cat_week_count',
 'center_cui_count',
 'meal_count',
 'region_meal_count',
 'meal_week_count',
 'type_meal_week_count',
 'region_meal_week_count',
 'city_meal_week_count',
 'meal_price_rank',
 'meal_city_price_rank',
 'meal_region_price_rank',
 'meal_week_price_rank',
 'center_price_rank',
 'center_week_price_rank',
 'center_cat_price_rank',
 'meal_price_min',
 'meal_price_max',
 'meal_price_mean',
 'meal_price_std',
 'disc_price_min',
 'disc_price_max',
 'disc_price_mean',
 'disc_price_std',
 'meal_price2_min',
 'meal_price2_max',
 'meal_price2_mean',
 'meal_price2_std',
 'avg_orders',
 'avg_center',
 'avg_meal']

In [51]:
categorical_features_indices = np.where(train_data[features].dtypes =='object')[0]
categorical_features_indices

array([ 1,  2,  7,  8,  9, 11, 12], dtype=int64)

In [52]:
model = CatBoostRegressor(
    iterations=2000, 
    learning_rate=0.02, 
    max_depth=8, 
    l2_leaf_reg=10, 
    loss_function='RMSE',
    random_seed=2019,
    od_type='Iter',
    od_wait=25,
    verbose=100,
    use_best_model=True
    )

In [53]:
# แบ่งข้อมูลเป็นชุดทดสอบและชุดการทดสอบโดยใช้ KFold

errcb=[]
y_pred_test=[]
# แบ่งข้อมูลเป็นชุดทดสอบและชุดการทดสอบโดยใช้ KFold

fold = KFold(n_splits=5,shuffle=True,random_state=2019)

for train_index, test_index in fold.split(train_data[features],train_data['num_orders']):
    X_train, X_valid =train_data[features].iloc[train_index], train_data[features].iloc[test_index]
    y_train, y_valid = train_data['num_orders'][train_index],train_data['num_orders'][test_index]
    # ฝึกโมเดลบนชุดฝึกและประเมินบนชุดการทดสอบ

    model.fit(X_train,y_train,
              cat_features = categorical_features_indices,
              eval_set=(X_valid,y_valid),
              early_stopping_rounds=300,
              verbose=100)
# ทำนายค่าบนชุดการทดสอบและคำนวณค่าคลาดเคลื่อน

    preds = model.predict(X_valid)
    print("err: ",np.sqrt(mean_squared_error(y_valid,preds)))
    errcb.append(np.sqrt(mean_squared_error(y_valid,preds)))
    p = model.predict(test_data[features])
    y_pred_test.append(p)

0:	learn: 1.1849585	test: 1.1842571	best: 1.1842571 (0)	total: 1.32s	remaining: 43m 58s
100:	learn: 0.5389654	test: 0.5407121	best: 0.5407121 (100)	total: 1m 28s	remaining: 27m 35s
200:	learn: 0.4974690	test: 0.4997800	best: 0.4997800 (200)	total: 3m 3s	remaining: 27m 20s
300:	learn: 0.4868282	test: 0.4895089	best: 0.4895089 (300)	total: 4m 48s	remaining: 27m 10s
400:	learn: 0.4803016	test: 0.4833723	best: 0.4833723 (400)	total: 6m 19s	remaining: 25m 13s
500:	learn: 0.4757436	test: 0.4792053	best: 0.4792053 (500)	total: 7m 46s	remaining: 23m 16s
600:	learn: 0.4718133	test: 0.4756793	best: 0.4756793 (600)	total: 9m 11s	remaining: 21m 24s
700:	learn: 0.4684981	test: 0.4727433	best: 0.4727433 (700)	total: 10m 42s	remaining: 19m 50s
800:	learn: 0.4655701	test: 0.4702085	best: 0.4702085 (800)	total: 12m	remaining: 17m 58s
900:	learn: 0.4631435	test: 0.4681716	best: 0.4681716 (900)	total: 13m 16s	remaining: 16m 11s
1000:	learn: 0.4611101	test: 0.4664191	best: 0.4664191 (1000)	total: 14m 29s	remaining: 14m 27s
1100:	learn: 0.4597307	test: 0.4652694	best: 0.4652694 (1100)	total: 15m 36s	remaining: 12m 44s
1200:	learn: 0.4581192	test: 0.4639459	best: 0.4639459 (1200)	total: 16m 44s	remaining: 11m 8s
1300:	learn: 0.4566234	test: 0.4627357	best: 0.4627357 (1300)	total: 17m 54s	remaining: 9m 37s
1400:	learn: 0.4550639	test: 0.4614742	best: 0.4614742 (1400)	total: 19m 3s	remaining: 8m 8s
1500:	learn: 0.4536277	test: 0.4603457	best: 0.4603457 (1500)	total: 20m 13s	remaining: 6m 43s
1600:	learn: 0.4522014	test: 0.4592649	best: 0.4592649 (1600)	total: 21m 23s	remaining: 5m 19s
1700:	learn: 0.4508510	test: 0.4582377	best: 0.4582377 (1700)	total: 22m 28s	remaining: 3m 57s
1800:	learn: 0.4496232	test: 0.4573408	best: 0.4573408 (1800)	total: 23m 33s	remaining: 2m 36s
1900:	learn: 0.4484949	test: 0.4565596	best: 0.4565596 (1900)	total: 24m 39s	remaining: 1m 17s
1999:	learn: 0.4474247	test: 0.4558116	best: 0.4558116 (1999)	total: 25m 42s	remaining: 0us

bestTest = 0.4558115541
bestIteration = 1999

err:  0.4558115588020686
0:	learn: 1.1855223	test: 1.1815205	best: 1.1815205 (0)	total: 712ms	remaining: 23m 42s
100:	learn: 0.5395341	test: 0.5374192	best: 0.5374192 (100)	total: 1m 9s	remaining: 21m 53s
200:	learn: 0.4980377	test: 0.4968045	best: 0.4968045 (200)	total: 2m 11s	remaining: 19m 38s
300:	learn: 0.4874783	test: 0.4867230	best: 0.4867230 (300)	total: 3m 4s	remaining: 17m 22s
400:	learn: 0.4811106	test: 0.4807105	best: 0.4807105 (400)	total: 3m 58s	remaining: 15m 49s
500:	learn: 0.4765437	test: 0.4764824	best: 0.4764824 (500)	total: 4m 52s	remaining: 14m 35s
600:	learn: 0.4725861	test: 0.4728758	best: 0.4728758 (600)	total: 6m	remaining: 13m 59s
700:	learn: 0.4692179	test: 0.4698747	best: 0.4698747 (700)	total: 7m 12s	remaining: 13m 21s
800:	learn: 0.4664319	test: 0.4674361	best: 0.4674361 (800)	total: 8m 30s	remaining: 12m 44s
900:	learn: 0.4642623	test: 0.4656051	best: 0.4656051 (900)	total: 9m 46s	remaining: 11m 54s
1000:	learn: 0.4626771	test: 0.4642758	best: 0.4642758 (1000)	total: 10m 53s	remaining: 10m 51s
1100:	learn: 0.4608044	test: 0.4626986	best: 0.4626986 (1100)	total: 12m 5s	remaining: 9m 52s
1200:	learn: 0.4588562	test: 0.4610997	best: 0.4610997 (1200)	total: 13m 18s	remaining: 8m 51s
1300:	learn: 0.4570488	test: 0.4596510	best: 0.4596510 (1300)	total: 14m 32s	remaining: 7m 49s
1400:	learn: 0.4554783	test: 0.4584145	best: 0.4584145 (1400)	total: 15m 52s	remaining: 6m 47s
1500:	learn: 0.4540014	test: 0.4572828	best: 0.4572828 (1500)	total: 17m 17s	remaining: 5m 44s
1600:	learn: 0.4525907	test: 0.4561875	best: 0.4561875 (1600)	total: 18m 47s	remaining: 4m 41s
1700:	learn: 0.4513775	test: 0.4553071	best: 0.4553071 (1700)	total: 20m 15s	remaining: 3m 33s
1800:	learn: 0.4501653	test: 0.4544087	best: 0.4544087 (1800)	total: 21m 49s	remaining: 2m 24s
1900:	learn: 0.4490425	test: 0.4536148	best: 0.4536148 (1900)	total: 23m 13s	remaining: 1m 12s
1999:	learn: 0.4479727	test: 0.4528957	best: 0.4528957 (1999)	total: 24m 34s	remaining: 0us

bestTest = 0.4528957183
bestIteration = 1999

err:  0.45289572334329603
0:	learn: 1.1841996	test: 1.1870458	best: 1.1870458 (0)	total: 888ms	remaining: 29m 34s
100:	learn: 0.5390084	test: 0.5406599	best: 0.5406599 (100)	total: 1m 31s	remaining: 28m 43s
200:	learn: 0.4972329	test: 0.4991102	best: 0.4991102 (200)	total: 3m 1s	remaining: 27m 2s
300:	learn: 0.4867726	test: 0.4889989	best: 0.4889989 (300)	total: 4m 33s	remaining: 25m 41s
400:	learn: 0.4804559	test: 0.4830425	best: 0.4830425 (400)	total: 6m 5s	remaining: 24m 19s
500:	learn: 0.4756086	test: 0.4785115	best: 0.4785115 (500)	total: 7m 33s	remaining: 22m 36s
600:	learn: 0.4721024	test: 0.4753534	best: 0.4753534 (600)	total: 9m 11s	remaining: 21m 23s
700:	learn: 0.4688403	test: 0.4723728	best: 0.4723728 (700)	total: 10m 57s	remaining: 20m 18s
800:	learn: 0.4661468	test: 0.4699450	best: 0.4699450 (800)	total: 12m 37s	remaining: 18m 54s
900:	learn: 0.4638137	test: 0.4678858	best: 0.4678858 (900)	total: 14m 12s	remaining: 17m 19s
1000:	learn: 0.4616857	test: 0.4659974	best: 0.4659974 (1000)	total: 15m 51s	remaining: 15m 49s
1100:	learn: 0.4596466	test: 0.4642859	best: 0.4642859 (1100)	total: 17m 26s	remaining: 14m 14s
1200:	learn: 0.4579063	test: 0.4628680	best: 0.4628680 (1200)	total: 18m 59s	remaining: 12m 38s
1300:	learn: 0.4562652	test: 0.4615521	best: 0.4615521 (1300)	total: 20m 55s	remaining: 11m 14s
1400:	learn: 0.4547500	test: 0.4603593	best: 0.4603593 (1400)	total: 22m 29s	remaining: 9m 36s
1500:	learn: 0.4534440	test: 0.4593568	best: 0.4593568 (1500)	total: 24m 1s	remaining: 7m 59s
1600:	learn: 0.4521499	test: 0.4583804	best: 0.4583804 (1600)	total: 25m 27s	remaining: 6m 20s
1700:	learn: 0.4510219	test: 0.4575672	best: 0.4575672 (1700)	total: 26m 54s	remaining: 4m 43s
1800:	learn: 0.4499823	test: 0.4567825	best: 0.4567825 (1800)	total: 28m 22s	remaining: 3m 8s
1900:	learn: 0.4489672	test: 0.4560763	best: 0.4560763 (1900)	total: 29m 56s	remaining: 1m 33s
1999:	learn: 0.4480297	test: 0.4554326	best: 0.4554326 (1999)	total: 31m 35s	remaining: 0us

bestTest = 0.4554326044
bestIteration = 1999

err:  0.4554326091885132
0:	learn: 1.1841937	test: 1.1871206	best: 1.1871206 (0)	total: 996ms	remaining: 33m 10s
100:	learn: 0.5389346	test: 0.5410330	best: 0.5410330 (100)	total: 1m 45s	remaining: 32m 59s
200:	learn: 0.4976240	test: 0.4991823	best: 0.4991823 (200)	total: 3m 20s	remaining: 29m 57s
300:	learn: 0.4870874	test: 0.4886916	best: 0.4886916 (300)	total: 4m 55s	remaining: 27m 49s
400:	learn: 0.4807030	test: 0.4825281	best: 0.4825281 (400)	total: 6m 26s	remaining: 25m 42s
500:	learn: 0.4759020	test: 0.4779809	best: 0.4779809 (500)	total: 8m 1s	remaining: 24m 1s
600:	learn: 0.4722248	test: 0.4745830	best: 0.4745830 (600)	total: 9m 41s	remaining: 22m 33s
700:	learn: 0.4688000	test: 0.4714442	best: 0.4714442 (700)	total: 11m 21s	remaining: 21m 2s
800:	learn: 0.4659608	test: 0.4688615	best: 0.4688615 (800)	total: 13m 2s	remaining: 19m 30s
900:	learn: 0.4637307	test: 0.4668709	best: 0.4668709 (900)	total: 14m 39s	remaining: 17m 52s
1000:	learn: 0.4617269	test: 0.4651182	best: 0.4651182 (1000)	total: 16m 4s	remaining: 16m 2s
1100:	learn: 0.4599225	test: 0.4635683	best: 0.4635683 (1100)	total: 17m 26s	remaining: 14m 14s
1200:	learn: 0.4582624	test: 0.4621487	best: 0.4621487 (1200)	total: 18m 45s	remaining: 12m 29s
1300:	learn: 0.4567502	test: 0.4608772	best: 0.4608772 (1300)	total: 20m 4s	remaining: 10m 47s
1400:	learn: 0.4552675	test: 0.4596159	best: 0.4596159 (1400)	total: 21m 24s	remaining: 9m 9s
1500:	learn: 0.4537778	test: 0.4583967	best: 0.4583967 (1500)	total: 22m 45s	remaining: 7m 33s
1600:	learn: 0.4524753	test: 0.4573274	best: 0.4573274 (1600)	total: 24m 11s	remaining: 6m 1s
1700:	learn: 0.4511154	test: 0.4562761	best: 0.4562761 (1700)	total: 25m 42s	remaining: 4m 31s
1800:	learn: 0.4499306	test: 0.4553974	best: 0.4553974 (1800)	total: 27m 3s	remaining: 2m 59s
1900:	learn: 0.4487600	test: 0.4544878	best: 0.4544878 (1900)	total: 28m 23s	remaining: 1m 28s
1999:	learn: 0.4477263	test: 0.4537281	best: 0.4537281 (1999)	total: 29m 49s	remaining: 0us

bestTest = 0.4537280944
bestIteration = 1999

err:  0.45372809933232294
0:	learn: 1.1849274	test: 1.1838817	best: 1.1838817 (0)	total: 858ms	remaining: 28m 34s
100:	learn: 0.5396565	test: 0.5378790	best: 0.5378790 (100)	total: 1m 35s	remaining: 29m 52s
200:	learn: 0.4978961	test: 0.4967975	best: 0.4967975 (200)	total: 3m	remaining: 26m 57s
300:	learn: 0.4874038	test: 0.4866709	best: 0.4866709 (300)	total: 4m 22s	remaining: 24m 43s
400:	learn: 0.4810518	test: 0.4806846	best: 0.4806846 (400)	total: 5m 47s	remaining: 23m 3s
500:	learn: 0.4763112	test: 0.4763445	best: 0.4763445 (500)	total: 7m 9s	remaining: 21m 23s
600:	learn: 0.4725538	test: 0.4729091	best: 0.4729091 (600)	total: 8m 29s	remaining: 19m 47s
700:	learn: 0.4693098	test: 0.4699538	best: 0.4699538 (700)	total: 9m 55s	remaining: 18m 23s
800:	learn: 0.4667862	test: 0.4676974	best: 0.4676974 (800)	total: 11m 20s	remaining: 16m 59s
900:	learn: 0.4648934	test: 0.4660345	best: 0.4660345 (900)	total: 12m 39s	remaining: 15m 26s
1000:	learn: 0.4632218	test: 0.4646264	best: 0.4646264 (1000)	total: 13m 58s	remaining: 13m 57s
1100:	learn: 0.4616386	test: 0.4632709	best: 0.4632709 (1100)	total: 15m 15s	remaining: 12m 27s
1200:	learn: 0.4600270	test: 0.4619183	best: 0.4619183 (1200)	total: 16m 30s	remaining: 10m 59s
1300:	learn: 0.4585465	test: 0.4606757	best: 0.4606757 (1300)	total: 17m 46s	remaining: 9m 33s
1400:	learn: 0.4572185	test: 0.4596027	best: 0.4596027 (1400)	total: 18m 57s	remaining: 8m 6s
1500:	learn: 0.4560537	test: 0.4586918	best: 0.4586918 (1500)	total: 20m 8s	remaining: 6m 41s
1600:	learn: 0.4548240	test: 0.4576697	best: 0.4576697 (1600)	total: 21m 17s	remaining: 5m 18s
1700:	learn: 0.4536127	test: 0.4567382	best: 0.4567382 (1700)	total: 22m 29s	remaining: 3m 57s
1800:	learn: 0.4523410	test: 0.4557140	best: 0.4557140 (1800)	total: 23m 37s	remaining: 2m 36s
1900:	learn: 0.4511303	test: 0.4547626	best: 0.4547626 (1900)	total: 24m 53s	remaining: 1m 17s
1999:	learn: 0.4499412	test: 0.4538507	best: 0.4538507 (1999)	total: 26m 9s	remaining: 0us

bestTest = 0.4538507097
bestIteration = 1999

err:  0.4538507142740781

In [55]:
model.fit(
    X=train_data[features],
    y=train_data['num_orders'],
    cat_features=categorical_features_indices,
    verbose=100,
    eval_set=(X_valid, y_valid)  # Replace X_valid and y_valid with your validation data
)

0:	learn: 1.1850418	test: 1.1842361	best: 1.1842361 (0)	total: 705ms	remaining: 23m 28s
100:	learn: 0.5387679	test: 0.5371396	best: 0.5371396 (100)	total: 1m 33s	remaining: 29m 20s
200:	learn: 0.4976165	test: 0.4961929	best: 0.4961929 (200)	total: 3m 18s	remaining: 29m 36s
300:	learn: 0.4873530	test: 0.4860074	best: 0.4860074 (300)	total: 5m 28s	remaining: 30m 57s
400:	learn: 0.4807765	test: 0.4794632	best: 0.4794632 (400)	total: 7m 43s	remaining: 30m 46s
500:	learn: 0.4762269	test: 0.4748946	best: 0.4748946 (500)	total: 10m 11s	remaining: 30m 30s
600:	learn: 0.4722575	test: 0.4709310	best: 0.4709310 (600)	total: 12m 27s	remaining: 29m
700:	learn: 0.4690898	test: 0.4677610	best: 0.4677610 (700)	total: 14m 32s	remaining: 26m 56s
800:	learn: 0.4662494	test: 0.4649379	best: 0.4649379 (800)	total: 16m 35s	remaining: 24m 49s
900:	learn: 0.4638107	test: 0.4624972	best: 0.4624972 (900)	total: 18m 37s	remaining: 22m 42s
1000:	learn: 0.4618411	test: 0.4605356	best: 0.4605356 (1000)	total: 20m 32s	remaining: 20m 30s
1100:	learn: 0.4599088	test: 0.4586188	best: 0.4586188 (1100)	total: 22m 12s	remaining: 18m 8s
1200:	learn: 0.4581003	test: 0.4568256	best: 0.4568256 (1200)	total: 23m 47s	remaining: 15m 49s
1300:	learn: 0.4564199	test: 0.4551665	best: 0.4551665 (1300)	total: 25m 21s	remaining: 13m 37s